{% extends 'shop_app/basa.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h2>{{ title }}</h2>
    <div>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Создать
            </button>
        </form>
    </div>
    <div>
    <a href="{% url 'shop_app:order_list' %}">Обновить заказ</a>
    </div>
    <div>
    <a href="{% url 'shop_app:order_list' %}">Перейти на страницу с заказами</a>
    </div>
{% endblock %}